<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>
Arshia Chat Website
</title>


<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>


<body>


<div class="bubbles">

<span></span>
<span></span>
<span></span>
<span></span>
<span></span>

</div>


<div class="welcome">

<div class="welcome-card">

<div class="cat-glow">

<img 
src="{{ url_for('static', filename='cat.png') }}"
class="welcome-cat"
>

</div>


<h1>
Welcome to
<br>
Arshia Chat Website
</h1>


</div>

</div>

<div class="container">


<div class="profile-glow">

<img 
src="{{ url_for('static', filename='arshia.png') }}" 
class="cat"
alt="Arshia">

</div>



<div class="profile-title">

<div class="cat-mark">
 𓃠
</div>


<h2>
Arshia Chat
</h2>


<span>
🐱 Official Chat ✨
</span>


</div>


<div class="rules">


<h3>
قوانین گپ
</h3>


<div class="rule-box">

قانون ①

<br>

هرکسی که " گربه خیابونی" گرفت معظف هست که به خزانه شهر 30 کا دونیت کنه.

</div>



<div class="rule-box">

قانون ②

<br>

به ازای هر ممبری که میارید و بصورت فعال میو میگه 30 کا دریافت می‌کنید (اکانت جعلی یا اکانت دوم خودتون قبول نیست)

</div>



<div class="rule-box">

قانون ③

<br>

سلف داشتن = بن

</div>



<div class="rule-box">

قانون ④

<br>

همه ی ممبرا باید تایتل داشته باشند(اسم یا تگی که کنار اسمت ظاهر میشه)

</div>



<div class="rule-box">

قانون ⑤

<br>

بحث سیاسی = سکوت 10 دقیقه
بار دوم = بن

</div>



<div class="rule-box">

قانون ⑥

<br>

خصومت شخصی داشتین داخل گروه رسیدگی نکنید فقط پیوی یقه هم رو بگیرید (ادمین اجازه نداره به دلیل خصومت شخصی کسی رو بن بزنه)

</div>

<div class="info-card">


<h3>
Chat Info
</h3>


<div class="info-item">

Group Name:

<br>

M e o

</div>



<div class="info-item">

Members:

<br>

1k...3k

</div>



<div class="info-item">

Status:

<br>

Online

</div>



<div class="info-item">

Created:

<br>

2026

</div>



</div>





<button onclick="joinChat()">
Joinchat
</button>


<button onclick="support()">
Support
</button>



</div>

<div class="footer-card">


<h3>
Arshia Chat
</h3>


<p>
Made with ❤️ and 🐾
</p>


<span>
2026
</span>


</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>


</body>

</html> 
